<ion-content>
  <div class="home-page">
    <div class="home-page-inner">
      <nav class="home-menu">
        <ul>
          <li>
            <button class="menu-link" (click)="onClickNew()">
              <span class="button-inner">Nouveau jeu</span>
            </button>
          </li>
          <li>
            <button class="menu-link" (click)="onClickLoad()">
              <span class="button-inner">Charger</span>
            </button>
          </li>
          <li>
            <button class="menu-link" (click)="onClickConfig()">
              <span class="button-inner">Configurations</span>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</ion-content>
