<ion-content>
  <div class="page config-page">
    <div class="page-title-container">
      <h1 class="page-title">Configurations</h1>
    </div>
    <ng-container *ngIf="data">
      <div class="config-data">
        <div class="section audio-section">
          <h2 class="section-title">Audio</h2>
          <div>
            <label>Muet</label>
            <input type="checkbox" [(ngModel)]="data.audio.muted" (ngModelChange)="onValueChange()" />
          </div>
          <div class="subsection">
            <h3 class="subsection-title">Volumes</h3>
            <div *ngFor="let item of audioLayerKey | keyvalue">
              <label>{{item.key}}</label>
              <input name="volume" type="range" min="0" max="1" step="0.01" [(ngModel)]="data.audio.volumes[item.value]"
                (ngModelChange)="onValueChange()">
            </div>
          </div>
        </div>
        <div class="section language-section">
          <div>
            <h2 class="section-title">Langue</h2>
            <select [(ngModel)]="data.language" (ngModelChange)="onValueChange()">
              <ng-container *ngFor="let item of languageKeys | keyvalue ">
                {{item|json}}
                <option [innerHTML]="languageNames[item.value]|name" [ngValue]="item.value"></option>
              </ng-container>
            </select>
            <!-- <select>
          <ng-container *ngFor="let item of languageKeys | keyvalue ">
            <option [innerHTML]="languageNames[item.key]|name" [selected]="item.key === data.language" ></option>
          </ng-container>
        </select> -->
          </div>
        </div>
      </div>
    </ng-container>

    <button class="back-button" (click)="onClickBack()">
      <span class="button-inner">Valider</span>
    </button>
  </div>
</ion-content>
