<div *ngIf="entity">
  <div><b>{{ entity.getName()|name }}</b></div>
  <entity-paragraphs [paragraphs]="entity.getInteriorDescription()"></entity-paragraphs>
  <div>
    <ul>
      <ng-container *ngFor="let item of entity.getChildren()">
        <li *ngIf="!isThePlayer(item)">
          <app-entity-preview [entity]="item"></app-entity-preview>
        </li>
      </ng-container>
    </ul>
  </div>

  <app-actions [entity]="entity"></app-actions>


  <!-- <div>
    <ng-container *ngFor="let exit of getExits()">
      <li>
        <span>{{ exit.text}}</span>
        <ul>
          <li>
            <button (click)="onClickExit(exit)">go</button>
          </li>
        </ul>
      </li>
    </ng-container>
  </div> -->
</div>
<div *ngIf="!entity">
  <p>Entity not found</p>
</div>
