<app-base-page [type]="'game'">
  <ng-container *ngIf="play">
    <ng-container *ngIf="!ended">
      <!-- <app-prompter [play]="play"></app-prompter> -->
      <app-time [play]="play"></app-time>
      <ng-container *ngIf="player">
        <app-location [entity]="location"></app-location>
      </ng-container>
      <ng-container *ngIf="player">
        <!-- <app-player-preview [player]="player"></app-player-preview> -->
      </ng-container>
    </ng-container>
    <ng-container *ngIf="ended">
      <p>Cette histoire est achevée.</p>
      <button class="back-home-button" (click)="onClickBackHome()">
        <span class="button-inner">Revenir en lieu sûr</span>
      </button>
    </ng-container>
  </ng-container>
  <div class="loading" *ngIf="!play">
    <p>chargement...</p>
  </div>
</app-base-page>
