<ion-content [fullscreen]="true">
  <div>
    <button (click)="onClickHome()">Home</button>
    <button (click)="onClickConfig()">Config</button>
  </div>

  <div *ngIf="play">
    <div *ngIf="play.getPlayer()">
      <div>Time: {{play.getTime()}}</div>
      <ion-grid>
        <!--ion-row>
          <ion-col>
            <h2>Prompter</h2>
            <app-prompter></app-prompter>
          </ion-col>
          <ion-col>
            <h2>Narration</h2>
            <app-narration [narration]="play.getNarration()"></app-narration>
            <div *ngIf="play.getPlayer()">
              <app-choices [entity]="getLocation()"></app-choices>
            </div>
          </ion-col>
        </ion-row-->
        <ion-row>
          <ion-col>
            <div>
              <h2>Position</h2>
              <app-location *ngIf="play.getPlayer()" [entity]="play.getPlayer().getParent()"></app-location>
            </div>
          </ion-col>
          <ion-col>
            <h2>Selection</h2>
            <app-selection [entity]="selection"></app-selection>
          </ion-col>
          <ion-col>
            <h2>Player</h2>
            <component-player [entity]="play.getPlayer()"></component-player>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="!play.getPlayer()">
      <p>No player found</p>
    </div>
    <!--div>
      <h2>Debug</h2>
      <app-debug></app-debug>
    </div-->
  </div>
  <div *ngIf="!play">
    <p>loading...</p>
  </div>

</ion-content>
