<ul class="connection-list" *ngIf="connections.length > 0">
  <ng-container *ngFor="let item of connections">
    <li class="connection-list-item">
      <div class="connection">
        <div class="connection-header">
          <ng-container *ngIf="item.direction.key">
            <div class="connection-direction-name" [ngClass]="item.direction.key|kebabCase"
              [innerHTML]="item.direction.text"></div>
          </ng-container>
        </div>
        <div class="connection-core">
          <div class="connection-presentation-container">
            <p class="connection-text" [innerHTML]="item.text"></p>
            <ng-container *ngIf="item.passage">
              <app-entity-preview [entity]="item.passage"></app-entity-preview>
            </ng-container>
          </div>
          <div class="connection-interactions">
            <ul class="action-list">
              <li class="action-list-item">
                <app-action-button *ngIf="item.usuable" [text]="'aller'"
                  (clickEvent)="onClickConnection(item.connection)">
                </app-action-button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
  </ng-container>
</ul>
