<ion-content [fullscreen]="true">
  <div>
    <button (click)="onClickHome()">Home</button>
    <button (click)="onClickConfig()">Config</button>
  </div>

  <div *ngIf="play">
    <div>Time: {{play.time}}</div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>Prompter</h2>
          <app-prompter></app-prompter>
        </ion-col>
        <ion-col>
          <h2>Narration</h2>
          <app-narration [narration]="play.narration"></app-narration>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <h2>Position</h2>
            <app-position *ngIf="getPlayer()" [player]="getPlayer()"></app-position>
          </div>
        </ion-col>
        <ion-col>
          <h2>Selection</h2>
          <app-selection [entityId]="selectionId"></app-selection>
        </ion-col>
        <ion-col>
          <h2>Player</h2>
          <component-player [entityId]="play.playerId"></component-player>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div>
    </div>
  </div>

</ion-content>
