<div *ngIf="player">
  <div>name: <span [innerHTML]="player.getName()|name"></span></div>
  <div>
    <h3 [innerHTML]="text.caracteristics|text"></h3>
    <ul>
      <li *ngFor="let caracteristic of player.caracteristics | keyvalue">
        {{caracteristicNames[caracteristic.key]|name}}:
        {{player.caracteristics[caracteristic.key].current}}({{getModifier(caracteristic.key) < 0 ? ''
          :'+'}}{{getModifier(caracteristic.key)}}) </li>
    </ul>
  </div>
  <div>
    <h3>Inventory</h3>
    <div *ngIf="getInventoryObjects(); then inventoryThenBlock else inventoryElseBlock"></div>
    <ng-template #inventoryThenBlock>
      <ul>
        <li *ngFor="let entity of getInventoryObjects()">
          <app-entity-preview [entity]="entity"></app-entity-preview>
        </li>
      </ul>
    </ng-template>
    <ng-template #inventoryElseBlock>
      <span>(nothing)</span>
    </ng-template>
  </div>
  <div>
    <h3>Worn objects</h3>
    <div *ngIf="getWornObjects(); then wornThenBlock else wornElseBlock"></div>
    <ng-template #wornThenBlock>
      <ul>
        <li *ngFor="let entity of getWornObjects()">
          <app-entity-preview [entity]="entity"></app-entity-preview>
        </li>
      </ul>
    </ng-template>
    <ng-template #wornElseBlock>
      <span>(nothing)</span>
    </ng-template>
  </div>
  <div>
    <h3>Held objects</h3>
    <div *ngIf="getHeldObjects(); then heldThenBlock else heldElseBlock"></div>
    <ng-template #heldThenBlock>
      <ul>
        <li *ngFor="let entity of getHeldObjects()">
          <app-entity-preview [entity]="entity"></app-entity-preview>
        </li>
      </ul>
    </ng-template>
    <ng-template #heldElseBlock>
      <span>(nothing)</span>
    </ng-template>
  </div>
  <div>
    <h3>Spells</h3>
    <ul *ngIf="player.spellsId.length > 0">
      <li *ngFor="let entity of player.getSpells()">
        <app-entity-preview [entity]="entity"></app-entity-preview>
      </li>
    </ul>
    <div *ngIf="player.spellsId.length === 0">(nothing)</div>
  </div>
  <div>
    <h3>Effects</h3>
    <ul *ngIf="player.effectsId.length > 0">
      <li *ngFor="let entity of player.getEffects()">
        <app-entity-preview [entity]="entity"></app-entity-preview>
      </li>
    </ul>
    <div *ngIf="player.effectsId.length === 0">(nothing)</div>
  </div>
</div>
<div *ngIf="!player">
  <p>No player is loaded</p>
</div>
