<div class="player" *ngIf="player">
  <div class="player-name-container">
    <div class="player-name" [innerHTML]="player.getName().printWithIndefiniteArticle()">
    </div>
  </div>
  <div class="player-description">
    <entity-paragraphs [paragraphs]="player.getInteriorDescription()"></entity-paragraphs>
  </div>
  <div class="section caracteristics-section">
    <h3 class="section-title">Caractéristiques</h3>
    <div class="section-inner">
      <ul class="list">
        <li class="list-item" *ngFor="let caracteristic of player.caracteristics | keyvalue">
          <span
            class="caracteristic-name">{{caracteristicNames[caracteristic.key].printSimple()|capitalizeFirst}}</span>
          <span class="caracteristic-value">{{player.caracteristics[caracteristic.key].current}}
            <span class="caracteristic-modifier">{{getModifier(caracteristic.key) < 0 ? ''
                :'+'}}{{getModifier(caracteristic.key)}}</span>
            </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="section objects-section">
    <h3 class="section-title">Objects</h3>
    <div class="section-inner">
      <div class="subsection">
        <h4 class="subsection-title">Inventaire</h4>
        <div class="subsection-inner">
          <ng-container *ngIf="getInventoryObjects().length > 0; then inventory else nothing"></ng-container>
          <ng-template #inventory>
            <ul class="list">
              <li class="list-item" *ngFor="let entity of getInventoryObjects()">
                <app-entity-preview [entity]="entity"></app-entity-preview>
              </li>
            </ul>
          </ng-template>
        </div>
      </div>

      <div class="subsection">
        <h4 class="subsection-title">En main</h4>
        <div class="subsection-inner">
          <ng-container *ngIf="getHeldObjects().length > 0; then held else nothing"></ng-container>
          <ng-template #held>
            <ul class="list">
              <li class="list-item" *ngFor="let entity of getHeldObjects()">
                <app-entity-preview [entity]="entity"></app-entity-preview>
              </li>
            </ul>
          </ng-template>
        </div>
      </div>
      <div class="subsection">
        <h4 class="subsection-title">Porté</h4>
        <div class="subsection-inner">
          <ng-container *ngIf="getWornObjects().length > 0; then worn else nothing"></ng-container>
          <ng-template #worn>
            <ul class="list">
              <li class="list-item" *ngFor="let entity of getWornObjects()">
                <app-entity-preview [entity]="entity"></app-entity-preview>
              </li>
            </ul>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="section spells-section">
    <h3 class="section-title">Sortilèges</h3>
    <div class="section-inner">
      <ng-container *ngIf="player.spellsId.length > 0; then spells else nothing"></ng-container>
      <ng-template #spells>
        <ul class="list">
          <li class="list-item" *ngFor="let entity of player.getSpells()">
            <app-entity-preview [entity]="entity"></app-entity-preview>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
  <div class="section effects-section">
    <h3 class="section-title">Effets</h3>
    <div class="section-inner">
      <ng-container *ngIf="player.effectsId.length > 0; then effects else nothing"></ng-container>
      <ng-template #effects>
        <ul class="list">
          <li class="list-item" *ngFor="let entity of player.getEffects()">
            <app-entity-preview [entity]="entity"></app-entity-preview>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>


</div>
<div *ngIf="!player">
  <p>Aucun joueur trouvé</p>
</div>

<ng-template #nothing>
  <div class="nothing">rien</div>
</ng-template>
