@font-face {
  font-family: "princevaliant";
  src: url($fontPath + "/princevaliant/princevaliant-webfont.eot");
  src: url($fontPath + "/princevaliant/princevaliant-webfont.eot?#iefix") format("embedded-opentype"),
    url($fontPath + "/princevaliant/princevaliant-webfont.woff2") format("woff2"),
    url($fontPath + "/princevaliant/princevaliant-webfont.woff") format("woff"),
    url($fontPath + "/princevaliant/princevaliant-webfont.ttf") format("truetype"),
    url($fontPath + "/princevaliant/princevaliant-webfont.svg#prince_valiantregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
