$imagePath: "/assets/interface/images";
$fontPath: "/assets/interface/fonts";

$pageBackgroundColor: white;
$pageFontColor: black;
$locationDescriptionBackgroundColor: rgba(151, 151, 151, 0.425);
$locationDescriptionFontColor: white;
$interactiveTextFontColor: rgb(8, 98, 114);
$menuFontColor: blue;

$specialFont: princevaliant;

$nbsp: "\00a0\00a0";
