<div *ngIf="entity">
  <button (click)="onClickUnselect()">Unselect</button>
  <b>{{ entity.getName()|name }}</b>
  <entity-paragraphs [paragraphs]="entity.getExteriorDescription()"></entity-paragraphs>
  <div>
    <ul>
      <ng-container *ngFor="let child of entity.getChildren()">
        <li>
          <app-entity-preview [entity]="child"></app-entity-preview>
        </li>
      </ng-container>
    </ul>
  </div>
  <app-actions [entity]="entity"></app-actions>
</div>
<div *ngIf="!entity">
  <p>Nothing selected</p>
</div>
