<ion-content [fullscreen]="true">
  <app-main-menu></app-main-menu>
  <div *ngIf="play">
    <div>Time: {{play.getTime()}}</div>
    <div>
      <ng-container *ngFor="let item of stream">
        <app-location [entity]="item"></app-location>
      </ng-container>
    </div>
    <!-- <app-location *ngIf="!getFirstUnreadMessage()" [entity]="getLocation()"></app-location> -->
    <!-- <app-messages *ngIf="getFirstUnreadMessage()" [messages]="[getFirstUnreadMessage()]"></app-messages> -->
  </div>

</ion-content>
