.time {
  text-align: right;
  font-size: 0.8em;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  right: 10px;
  margin: 3px 0 0;
  padding: 0 5px;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2), inset -1px -1px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  color: black;

  .label {
    margin: 0 10px 0 0;
    display: inline-block;

    &:after {
      content: $nbsp + ":";
      display: inline-block;
      display: inline-block;
    }
  }
}


