<div class="inform-container">
  <div class="inform">
    <div>
      <ng-container *ngFor="let paragraph of paragraphs">
        <p [innerHTML]="paragraph.text"></p>
      </ng-container>
    </div>
    <div>
      <ng-container *ngIf="choices && choices.length > 0; then thenBlock else elseBlock"></ng-container>
      <ng-template #thenBlock>
        <ul class="choice-list">
          <ng-container *ngFor="let choice of choices">
            <li class="choice-list-item" *ngIf="!choice.check || choice.check()">
              <button class="choice-button" (click)="onClickOption(choice)">
                <span class="button-inner" [innerHTML]="choice.text"></span>
              </button>
            </li>
          </ng-container>
        </ul>
      </ng-template>
      <ng-template #elseBlock>
        <button class="choice-button" *ngIf="!(choices && choices.length > 0)" (click)="onClickOption()">
          <span class="button-inner" [innerHTML]="text.close|text"></span>
        </button>
      </ng-template>
    </div>
  </div>
</div>
