<div class="entity-preview" *ngIf="entity" [ngClass]="{'selected': isSelected()}">
  <div class="entity-preview-core">
    <div class="entity-preview-presentation-container">
      <div class="entity-preview-name-container">
        <div class="entity-preview-name">
          <button (click)="onClickEntity()">
            <span *ngIf="entity.getName()" [innerHTML]="entity.getName().printWithIndefiniteArticle()"></span>
          </button>
        </div>
        <div class="entity-preview-situation">
          <span *ngIf="isWorn()">sur {{getEmplacementName().printWithDefiniteArticle()}}</span>
          <span *ngIf="isOpen()">ouvert{{entity.getName().isFeminin()? 'e':''}}</span>
          <span *ngIf="isClosed()">fermé{{entity.getName().isFeminin()? 'e':''}}</span>
          <span *ngIf="isDead()">mort{{entity.getName().isFeminin()? 'e':''}}</span>
        </div>
      </div>
      <ng-container *ngIf="entity.getPreviewImage() && entity.getPreviewImage()">
        <img class="entity-preview-image" src="assets/{{entity.getPreviewImage().source}}" alt="" width="50" />
      </ng-container>
      <div class="entity-preview-description-container">
        <div *ngIf="entity.getPreviewDescription().length > 0" class="entity-preview-description">
          <app-paragraphs [paragraphs]="entity.getPreviewDescription()" (itemClicked)="onItemClicked($event)">
          </app-paragraphs>
        </div>
        <div class="entity-preview-caractertic-modifiers">
          <app-caracteristic-modifiers [entity]="entity"></app-caracteristic-modifiers>
        </div>
      </div>
    </div>
    <div class="entity-preview-interactions">
      <app-actions [entity]="entity"></app-actions>
    </div>
  </div>
  <div class="entity-preview-footer">
    <app-entity-list *ngIf="contentIsVisible()" [entity]="entity"></app-entity-list>
  </div>
</div>
<div *ngIf="!entity">
  <p>(entity not found)</p>
</div>
