<div class="player-full" *ngIf="player">
  <div class="player-name-container">
    <div class="player-name" [innerHTML]="name|capitalizeFirst">
    </div>
  </div>
  <div class="player-description">
    <app-paragraphs [paragraphs]="description" (itemClicked)="onItemClicked($event)"></app-paragraphs>
  </div>
  <div class="section caracteristics-section">
    <h3 class="section-title">Caractéristiques</h3>
    <div class="section-inner">
      <app-caracteristics [entity]="player"></app-caracteristics>
    </div>
  </div>

  <div class="section objects-section">
    <h3 class="section-title">Objects</h3>
    <div class="section-inner">
      <div class="subsection">
        <h4 class="subsection-title">Inventaire</h4>
        <div class="subsection-inner">
          <ng-container *ngIf="inventoryObjects.length > 0; then inventoryElement else nothing"></ng-container>
          <ng-template #inventoryElement>
            <ul class="list">
              <li class="list-item" *ngFor="let entity of inventoryObjects">
                <app-entity-preview [entity]="entity"></app-entity-preview>
              </li>
            </ul>
          </ng-template>
        </div>
      </div>

      <div class="subsection">
        <h4 class="subsection-title">En main</h4>
        <div class="subsection-inner">
          <ng-container *ngIf="heldObjects.length > 0; then heldElement else nothing"></ng-container>
          <ng-template #heldElement>
            <ul class="list">
              <li class="list-item" *ngFor="let entity of heldObjects">
                <app-entity-preview [entity]="entity"></app-entity-preview>
              </li>
            </ul>
          </ng-template>
        </div>
      </div>
      <div class="subsection">
        <h4 class="subsection-title">Porté</h4>
        <div class="subsection-inner">
          <ng-container *ngIf="wornObjects.length > 0; then wornElement else nothing"></ng-container>
          <ng-template #wornElement>
            <ul class="list">
              <li class="list-item" *ngFor="let entity of wornObjects">
                <app-entity-preview [entity]="entity"></app-entity-preview>
              </li>
            </ul>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="section spells-section">
    <h3 class="section-title">Sortilèges</h3>
    <div class="section-inner">
      <ng-container *ngIf="spells.length > 0; then spellsElement else nothing"></ng-container>
      <ng-template #spellsElement>
        <ul class="list">
          <li class="list-item" *ngFor="let entity of spells">
            <app-entity-preview [entity]="entity"></app-entity-preview>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
  <div class="section effects-section">
    <h3 class="section-title">Effets</h3>
    <div class="section-inner">
      <ng-container *ngIf="effects.length > 0; then effectsElement else nothing"></ng-container>
      <ng-template #effectsElement>
        <ul class="list">
          <li class="list-item" *ngFor="let entity of effects">
            <app-entity-preview [entity]="entity"></app-entity-preview>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>


</div>
<div *ngIf="!player">
  <p>Aucun joueur trouvé</p>
</div>

<ng-template #nothing>
  <div class="nothing">rien</div>
</ng-template>
